.container-fluid {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(ellipse at bottom, #051c37, #000000);
    color: whitesmoke;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-family: 'Orbitron','Gill Sans', 'Gill Sans MT'; */
    position: relative;
    overflow: hidden;
}

/* background animation */

.container-fluid .bg-animations div {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;

}

.container-fluid .bg-animations div:nth-child(1) {
    top: 13%;
    left: 10%;
    background-color: green;
    box-shadow: 0px 0px 30px green;
    animation: anim 10s linear infinite;

}

.container-fluid .bg-animations div:nth-child(2) {
    top: 20%;
    left: 20%;
    background-color: #9fd3c7;
    box-shadow: 0px 0px 30px #9fd3c7;
    animation: anim 12s linear infinite;

}

.container-fluid .bg-animations div:nth-child(3) {
    top: 80%;
    left: 20%;
    background-color: #e3e3e3;
    box-shadow: 0px 0px 30px #e3e3e3;
    animation: anim 8s linear infinite;

}

.container-fluid .bg-animations div:nth-child(4) {
    top: 90%;
    left: 90%;
    background-color: #e7eaf6;
    box-shadow: 0px 0px 30px #e7eaf6;
    animation: anim 14s linear infinite;

}

.container-fluid .bg-animations div:nth-child(5) {
    top: 50%;
    left: 90%;
    background-color: #eef2e2;
    box-shadow: 0px 0px 30px #eef2e2;
    animation: anim 9s linear infinite;

}

.container-fluid .bg-animations div:nth-child(6) {
    top: 30%;
    left: 80%;
    background-color: #e3e3e3;
    box-shadow: 0px 0px 30px #e3e3e3;
    animation: anim 11s linear infinite;

}

.container-fluid .bg-animations div:nth-child(7) {
    top: 20%;
    left: 50%;
    background-color: #680747;
    box-shadow: 0px 0px 30px #680747;
    animation: anim 7s linear infinite;

}

.container-fluid .bg-animations div:nth-child(8) {
    top: 80%;
    left: 50%;
    background-color: #680747;
    box-shadow: 0px 0px 30px #680747;
    animation: anim 11s linear infinite;

}

.container-fluid .bg-animations div:nth-child(9) {
    top: 100%;
    left: 30%;
    background-color: #fcfafa;
    box-shadow: 0px 0px 30px #fcfafa;
    animation: anim 10s linear infinite;

}

.container-fluid .bg-animations div:nth-child(10) {
    top: 100%;
    left: 80%;
    background-color: #fcfafa;
    box-shadow: 0px 0px 30px #fcfafa;
    animation: anim 9s linear infinite;

}

.container-fluid .bg-animations div:nth-child(11) {
    top: 90%;
    left: 40%;
    background-color: #e3e3e3;
    box-shadow: 0px 0px 30px #e3e3e3;
    animation: anim 7s linear infinite;

}

.container-fluid .bg-animations div:nth-child(12) {
    top: 50%;
    left: 10%;
    background-color: #ffaaa5;
    box-shadow: 0px 0px 30px #ffaaa5;
    animation: anim 12s linear infinite;

}

.container-fluid .bg-animations div:nth-child(13) {
    top: 70%;
    left: 80%;
    background-color: #05004e;
    box-shadow: 0px 0px 30px #05004e;
    animation: anim 11s linear infinite;

}

.container-fluid .bg-animations div:nth-child(14) {
    top: 90%;
    left: 5%;
    background-color: #eeeeee;
    box-shadow: 0px 0px 30px #eeeeee;
    animation: anim 10s linear infinite;

}

.container-fluid .bg-animations div:nth-child(15) {
    top: 100%;
    left: 50%;
    background-color: #f70776;
    box-shadow: 0px 0px 30px #f70776;
    animation: anim 7s linear infinite;

}

.container-fluid .bg-animations div:nth-child(16) {
    top: 100%;
    left: 10%;
    background-color: #ff6f3c;
    box-shadow: 0px 0px 30px #ff6f3c;
    animation: anim 7s linear infinite;

}

.container-fluid .bg-animations div:nth-child(17) {
    top: 100%;
    left: 70%;
    background-color: #e3e3e3;
    box-shadow: 0px 0px 30px #e3e3e3;
    animation: anim 15s linear infinite;

}

.container-fluid .bg-animations div:nth-child(18) {
    top: 100%;
    left: 20%;
    background-color: #42b883;
    box-shadow: 0px 0px 30px #42b883;
    animation: anim 16s linear infinite;

}

.container-fluid .bg-animations div:nth-child(19) {
    top: 80%;
    left: 30%;
    background-color: #45171d;
    box-shadow: 0px 0px 30px #45171d;
    animation: anim 14s linear infinite;

}

.container-fluid .bg-animations div:nth-child(20) {
    top: 70%;
    left: 80%;
    background-color: #cbf078;
    box-shadow: 0px 0px 30px #cbf078;
    animation: anim 13s linear infinite;

}

.container-fluid .bg-animations div:nth-child(21) {
    top: 65%;
    left: 15%;
    background-color: #ff6f3c;
    box-shadow: 0px 0px 30px #ff6f3c;
    animation: anim 10s linear infinite;

}

.container-fluid .bg-animations div:nth-child(22) {
    top: 55%;
    left: 15%;
    background-color: #f70776;
    box-shadow: 0px 0px 30px #f70776;
    animation: anim 12s linear infinite;

}

.container-fluid .bg-animations div:nth-child(23) {
    top: 75%;
    left: 75%;
    background-color: #45171d;
    box-shadow: 0px 0px 30px #45171d;
    animation: anim 14s linear infinite;

}

.container-fluid .bg-animations div:nth-child(24) {
    top: 90%;
    left: 95%;
    background-color: #f4f56e;
    box-shadow: 0px 0px 30px #f4f56e;
    animation: anim 9s linear infinite;

}

.container-fluid .bg-animations div:nth-child(25) {
    top: 90%;
    left: 55%;
    background-color: #5c715e;
    box-shadow: 0px 0px 30px #5c715e;
    animation: anim 16s linear infinite;

}

@keyframes anim {
    0% {
        transform: scale(0) translateY(0);
        opacity: 0;
    }

    100% {
        transform: scale(1) translateY(-800px);
        opacity: 1;
    }
}

.container-fluid .main-box {
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    z-index: 1;
}

.container-fluid .main-box::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: blue;
    box-shadow: 0px 0px 60px blue;
    border-radius: 30px;
    z-index: -1;
}

.container-fluid .main-box::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    top: -80px;
    left: -80px;
    background-color: rgb(255, 38, 38);
    box-shadow: 0px 0px 60px red;
    border-radius: 50%;
    z-index: -1;
}

.container-fluid .main-box .bg-blur {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    z-index: 1;
}

.container-fluid .main-box .bg-square {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: -50px;
    right: -50px;
    background-color: violet;
    box-shadow: 0px 0px 60px violet;
    border-radius: 10px;
    z-index: -1;
    animation: rotate 7s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

.container-fluid .main-box .box {
    min-height: 200px;
    min-width: 210px;
    z-index: 2;
}

.container-fluid .main-box .box .inner-box {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    transition: all 1s;
    position: relative;
}
.container-fluid .main-box .box .inner-box span{
    display: inline-block;
}

.container-fluid .main-box .box .inner-box #sec {
    position: absolute;
    left: 0;
    bottom: 0;
}