*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ecf6ff;
    font-family: Arial, Helvetica, sans-serif;
}

.head{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    top: 0;
    color: #5a13dd;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#note{
    width: 270px;
    margin: 10px;
    padding: 15px;
    background: linear-gradient(to top, #fff9f9, #62d2ff, #62d2ff, #62d2ff);
    border-radius: 10px;
    box-shadow: 0 8px 12px 0 #0000003a;
}

#note input[type="text"],
#note textarea{
    display: block;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
}
#note input[type="color"]{
    padding: 4px;
    display: block;
    margin-left: 5px;
}
#note button{
    padding: 8px 90px;
}

#note input[type="text"]:focus,
#note textarea:focus{
    outline: none;
    border-color: #555;
}

#note button{
    background-color: #2495ff;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#note input[type="color"]::-webkit-color-swatch-wrapper{
    padding: 0;
}

#note input[type="color"]::-webkit-color-swatch{
    border: none;
}

#note button:hover{
    background-color: #0069cc;
}

.title-color{
    display: flex;
}

.sticky-note{
    position: relative;
    width: 250px;
    height: 280px;
    margin: 10px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px #0000001a;
    transition: box-shadow 0.3s ease-in-out;
}

.sticky-note:hover{
    box-shadow: 0 8px 16px #0000004f;
}

.sticky-note h2{
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
}

.sticky-note textarea{
    height: 210px;
    resize: none;
    border: none;
    background: transparent;
    font-size: 18px;
}

.btn-icon{
    /* padding: 3px 5px; */
    position: absolute;
    top: 5px;
    right: 12px;
    gap: 5px;
    background-color: transparent;
    border: none;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}
.edit{
    /* background-color: #2495ff; */
    color: #4fff49;
    top: 1px;
    right: 35px;
}
.edit:hover{
    /* background-color: #fff; */
    color: #2495ff;
}
.close{
    /* background-color: #ff4136;
    color: white; */
    color: #eb0000;
}
.close:hover{
    /* background-color: #fff; */
    color: #af0900;
}
