*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#040a63, #810303c5),url("https://www.calculatorall.com/images/Age-Calculator2.jpg");

    /* background-color: rgba(0, 0, 0, 0.877); */
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: #000000c9;
    /* color: #25c1ff; */
    color: #eee;
    padding: 10px 20px;
    border-radius: 10px;
}
.calculator:hover{
    color: #eeeeeeee;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00000094;
    color: #eee;
    border-radius: 10px;
    margin-top: 30px;
    width: 450px;
    padding: 5px 20px;


}
.head .enter-bod{
    /* color: #25c1ff; */
    color: #eee;
    border-radius: 10px;
}
.ri-refresh-line{
    color: #eee;
    font-size: 25px;
    cursor: pointer;
    border-radius: 50%;
    /* background-color: red; */
    padding: 3px;
}
.ri-refresh-line:hover{
    color: #30c3fddc;
}

.display{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
}

.enter-dt{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 15px;
    background-color: #00000094;
    /* border: 1px solid #eee; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #000000b9;
}

.enter-dt > #enter-date{
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 300px;
    font-size: 20px;
    cursor: pointer;
    background-color: #edf6fcd3;
}

.enter-dt #calculate-btn{
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px;
    cursor: pointer;
    background-color: #30c3fddc;
}
#calculate-btn:hover{
    background-color: #30c3fd;
}

.display-age{
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 70px;
}

.age{
    background-color: #000000bd;
    color: white;
    padding: 25px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #00000080;
}

#age > span{
    text-align: center;
    font-size: 20px;
    color: #eeeeeebd;
}

/* ---------------------------------- */
/* --------------------------------- */
@media (max-width: 500px) {
    .container {
      width: 100%;
    }
    .head {
        width: 400px;
        align-items: center;
      }
    .display {
        align-items: center;
    }
    .enter-dt {
      gap: 5px;
    }
    .display-age{
        gap: 40px;
    }
  }
  
/* ------------------------------------------ */
@media (max-width: 450px) {
    .container {
      width: 100%;
    }
    .head {
      width: 400px;
      align-items: center;
    }
    .display {
        align-items: center;
    }
    .enter-dt {
        flex-direction: column;
    }
    .display-age{
        gap: 15px;
        font-size: 15px;
    }
  }

/* ------------------------------------------ */
@media (max-width: 421px) {
    .container {
      width: 100%;
    }
    .head {
      width: 380px;
      align-items: center;
    }
    .display {
        align-items: center;
    }
    .enter-dt {
        flex-direction: column;
    }
    .display-age{
        gap: 18px;
        font-size: 15px;
    }
  }

/* ------------------------------------------ */
@media (max-width: 383px) {
    .container {
      width: 100%;
    }
    .head {
      width: 320px;
      align-items: center;
      font-size: 12px;
    }
    .display {
        align-items: center;
    }
    .enter-dt {
        flex-direction: column;
    }
    .display-age{
        gap: 18px;
        font-size: 15px;
    }
  }

/* ------------------------------------------ */
@media (max-width: 345px) {
    .container {
      width: 100%;
    }
    .head {
      width: 300px;
      align-items: center;
      font-size: 12px;
    }
    .display {
        align-items: center;
    }
    .enter-dt {
        width: 300px;
        flex-direction: column;
    }
    .enter-dt #enter-date{
        width: 250px;
    }
    .display-age{
        gap: 16px;
        font-size: 15px;
    }
  }

/* ------------------------------------------ */
@media (max-width: 304px) {
    .container {
      width: 100%;
    }
    .head {
      width: 260px;
      align-items: center;
      font-size: 10px;
    }
    .display {
        align-items: center;
    }
    .enter-dt {
        width: 240px;
        flex-direction: column;
    }
    .enter-dt #enter-date{
        width: 210px;
    }
    .display-age{
        gap: 10px;
        font-size: 12px;
    }
  }
  